<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/online-cv</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping class="fr.upem.onlinecv.model.Experience"/>
    <mapping class="fr.upem.onlinecv.model.Formation"/>
    <mapping class="fr.upem.onlinecv.model.Language"/>
    <mapping class="fr.upem.onlinecv.model.Proficiency"/>
    <mapping class="fr.upem.onlinecv.model.Skill"/>
    <mapping class="fr.upem.onlinecv.model.Speaks"/>
    <mapping class="fr.upem.onlinecv.model.SpeaksPK"/>
    <mapping class="fr.upem.onlinecv.model.UserCv"/>
  </session-factory>
</hibernate-configuration>
