* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: -webkit-linear-gradient(90deg, #8bbbcc 15%, #f7b7a0 85%);
    background:    -moz-linear-gradient(90deg, #8bbbcc 15%, #f7b7a0 85%);
    background:     -ms-linear-gradient(90deg, #8bbbcc 15%, #f7b7a0 85%);
    background:      -o-linear-gradient(90deg, #8bbbcc 15%, #f7b7a0 85%);
    background:         linear-gradient(90deg, #8bbbcc 15%, #f7b7a0 85%);
}

header {
    margin: 0;
    padding: 0;
}
nav {
    padding: 15px 10px;
    background-color: white;
    box-shadow: 0 0 10px -2px #2f2e2e;
}

a {
    text-decoration: none;
}

#user-infos {
    padding: 10px;
    text-align: center;
}

#user-infos > h1 > form {
    display: inline-block;
}

#desc-field {
    margin: 40px 0;
    font-style: italic;
}

input, select {
    height: 34px !important;
}

textarea { 
    resize: vertical; 
}

#search-box {
    padding: 30px;
    max-width: 750px;
    margin: 200px auto 0 auto;
    background-color: white;
}

#search-box > #suggestion-box > * > .panel {
    padding: 10px;
    margin-bottom: 3px;
}

#nav-resume {
    text-align: center;
}

#nav-resume > * {
    margin: 0 10px;
}

.nav-button {
    margin: auto;
    border: none;
    background-color: white;
}

section {
    max-width: 900px;
    padding: 20px;
    margin: auto;
}

section > h2 {
    text-align: center;
}