* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: -webkit-linear-gradient(90deg, #8bbbcc 15%, #f7b7a0 85%);
    background:    -moz-linear-gradient(90deg, #8bbbcc 15%, #f7b7a0 85%);
    background:     -ms-linear-gradient(90deg, #8bbbcc 15%, #f7b7a0 85%);
    background:      -o-linear-gradient(90deg, #8bbbcc 15%, #f7b7a0 85%);
    background:         linear-gradient(90deg, #8bbbcc 15%, #f7b7a0 85%);
}

header {
    margin: 0;
    padding: 0;
}
nav {
    padding: 15px 10px;
    background-color: white;
    box-shadow: 0 0 10px -2px #2f2e2e;
}

a {
    text-decoration: none;
}

#search-box {
    padding: 15px;
    width: 300px;
    margin: 200px auto;
    background-color: white;
}

#search-box .search-field {
    margin: auto;
    width: 78%;
}
